@import "src/assets/mixins";
.pv-header{
    width: 100%;
    height: 5rem;
    background-color: var(--background-header);
    position: sticky;
    top: 0;
    .svg-flecha{
        fill: var(--gray-pv);
        width: 12px;
        height: 12px;
        margin: .5rem 0 0 .3rem;
    }
    .header-wrapper{
        width: 95%;
        height: 100%;
        margin: auto;
        // background-color: beige;
        @include flex(row, nowrap, space-between, center );
        .header-side{
            @include flex(row, nowrap, space-between, center );
            .header-margin{
                margin-right: 1rem;
            }
        }
        .pv-logo{
            height: 100%;
            @include flex(row, nowrap, center, center);
            .img-pv-logo{
                width: 120px;
            }
        }
        .pv-nav{
            height: 100%;
            // background-color: orange;
            @include flex(row, nowrap, center, center);
            .nav-ul{
                width: 100%;
                @include flex(row, nowrap, space-between, center);
                .nav-li{
                    font-size: 1.1rem;
                    font-weight: 600;
                    margin: 0 .5rem;
                    color: var(--gray-pv);
                    position: relative;
                    @include flex(row, nowrap, center, center);
                    cursor: pointer;
                    &:hover{
                        color: white;
                    }
                    &.activo{
                        color: white;
                        font-weight: 800;
                        &::after{
                            content: '';
                            position: absolute;
                            width: 100%;
                            height: 1px;
                            background-color: white;
                            bottom: -.4rem;
                            left: 0;
                        }
                    }
                }
            }
        }
        .pv-buscador{
            height: 100%;
            // background-color: maroon;
            @include flex(row, nowrap, flex-end, center);
            cursor: pointer;
            &:hover{
                .buscador-svg{
                    fill: white;
                }
            }
            .buscador-svg{
                width: 22px;
                fill: var(--gray-pv);
            }
        }
        .pv-perfil{
            height: 100%;
            @include flex(row, nowrap, space-between, center);
            cursor: pointer;
            &:hover{
                .perfil-nombre{
                    color: white;
                }
            }
            .perfil-imagen{
                width: 40px;
                .img-perfil{
                    width: 80%;
                }
            }
            .perfil-nombre{
                flex: 1;
                @include flex(row, nowrap, flex-start, center);
                color: var(--gray-pv);
                font-weight: 600;
            }
        }
    }
    .categorias-menu{
        width: 100%;
        height: 22rem;
        background-color: #12222f;
        pointer-events: none;
        display: none;
        .h5-categorias{
            color: white;
            font-size: 1.1rem;
            font-weight: 600;
            margin-bottom: .5rem;
        }
        .wrapper-categorias{
            width: 1500px;
            height: 100%;
            // background-color: black;
            margin: auto;
            @include flex(row, nowrap, space-between, flex-start);
            .categorias-izq{
                flex: 1;
                height: 100%;
                padding: 2rem;
                // background-color: red;
                position: relative;
                &::after{
                    content: '';
                    position: absolute;
                    top: 1rem;
                    right: -1px;
                    height: 90%;
                    width: 1px;
                    background-color: var(--gray-pv);
                }
                .wrapper-cat-izq{
                    margin-left: 10rem;
                    .ul-principales{
                        @include flex(row, wrap, flex-start, center);
                        .li-principales{
                            @include flex(column, nowrap, center, center);
                            width: 30%;
                            height: 6.5rem;
                            background-color: rgb(40,72,103);
                            padding: 0rem 1rem;
                            margin: .7rem .7rem 0 0;
                            border-radius: .5rem;
                            text-align: center;
                            color: white;
                            font-weight: 600;
                            border: 2px solid transparent;
                            cursor: pointer;
                            &:hover{
                                border: 2px solid white;
                            }
                        }
                    }
                }
            }
            .categorias-drc{
                flex: 1;
                padding: 2rem;
                // background-color: yellow;
                height: 100%;
                // overflow-y: scroll;
                @include flex(row, nowrap, center, center);
                .categorias-generos{
                    flex: 2;
                    height: 100%;
                    // background-color: green;
                    .ul-generos{
                        margin-left: 1rem; 
                        @include flex(row, wrap, center, center);
                        .li-generos{
                            width: 50%;
                            color: var(--gray-texto);
                            margin-bottom: 1rem;
                            transition: .3s;
                            cursor: pointer;
                            &:hover{
                                color: white;
                            }
                        }
                    }
                }
                .categorias-otras{
                    flex: 1;
                    height: 100%;
                    // background-color: lightblue;
                    .ul-otras{
                        margin-left: 1rem;
                        .li-otras{
                            width: 100%;
                            color: var(--gray-texto);
                            margin-bottom: 1rem;
                            transition: .3s;
                            cursor: pointer;
                            &:hover{
                                color: white;
                            }
                        }
                    }
                }
            }
        }
    }
}